In [3]:
import pandas as pd

train_path = '../../../dataset/training/volume(table 6)_training.csv'
train_df = pd.read_csv(train_path)

test_path = '../../../dataset/testing_phase1/volume(table 6)_test1.csv'
test_df = pd.read_csv(test_path)

train_df.head()
# test_df.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
0,2016-09-19 23:09:25,2,0,1,0,NaN
1,2016-09-19 23:11:53,2,0,1,0,NaN
2,2016-09-19 23:13:54,2,0,1,0,NaN
3,2016-09-19 23:17:48,1,0,1,1,NaN
4,2016-09-19 23:16:07,2,0,1,0,NaN