In [1]:
import sys
import numpy as np
import scipy
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

import math
from datetime import datetime, timedelta, time, date

from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
%matplotlib inline

In [2]:
#using KNN to predict
train_path_1 = '../dataset/training/trajectories(table 5)_training.csv'
train_path_2 = '../dataset/dataSet_phase2/trajectories(table_5)_training2.csv'
test_path = '../dataset/dataSet_phase2/trajectories(table 5)_test2.csv'

train_df_1 = pd.read_csv(train_path_1)
train_df_2 = pd.read_csv(train_path_2)
train_df = train_df_1.append(train_df_2, ignore_index=True)

test_df = pd.read_csv(test_path)
train_df.starting_time = pd.to_datetime(train_df.starting_time)
test_df.starting_time = pd.to_datetime(test_df.starting_time)

In [582]:
# from 9-19 to 10-17 (except holiday)
NUM_TRAIN_DAYS = 20

# from 10-18 to 10-24
NUM_TSET_DAYS = 7

# define Holiday
NATIONNAL_START = date(2016,10,1)
NATIONNAL_END = date(2016,10,9)

MID_AUTUMN_START = date(2016,9,15)
MID_AUTUMN_END = date(2016,9,18)

TRAIN_START_DAY = date(2016,7,19)
#TRAIN_START_DAY = date(2016,10,10)
TRAIN_END_DAY = date(2016,10,17)

VALI_START_DAY = date(2016,10,11)
VALI_END_DAY = date(2016,10,17)

TEST_START_DAY = date(2016,10,18)
TEST_END_DAY = date(2016,10,24)

# 每条路劲的link
LINK_A_2 = [110,123,107,108,120,117]
LINK_A_3 = [110,123,107,108,119,114,118,122]
LINK_B_1 = [105,100,111,103,116,101,121,106,113]
LINK_B_3 = [105,100,111,103,122]
LINK_C_1 = [115,102,109,104,112,111,103,116,101,121,106,113]
LINK_C_3 = [115,102,109,104,112,111,103,122]

#每条路的link个数
LINK_LENGTH = {'table_A_2':6, 'table_A_3':8,'table_B_1':9,'table_B_3':5,'table_C_1':12,'table_C_3':8}               
# LINK_LENGTH = {'table_C_3':8}

inter_toll = [('A',2), ('A',3), ('B',1), ('B',3), ('C',1), ('C',3)]
# inter_toll = [('C',3)]

In [3]:
print(train_df.head(5))

  intersection_id  tollgate_id  vehicle_id       starting_time  \
0               B            3     1065642 2016-07-19 00:14:24
1               B            3     1047198 2016-07-19 00:35:56
2               B            1     1086390 2016-07-19 00:37:15
3               A            2     1071181 2016-07-19 00:37:59
4               B            1     1065807 2016-07-19 00:56:21

                                          travel_seq  travel_time
0  105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...        70.85
1  105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...       148.79
2  105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...        79.76
3  110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...        58.05
4  105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...       137.98

In [584]:
def MAPE(pred, true):
    return abs((true - pred) / true)

def cal_mape(pred_values, true_values):
    mape_mean = 0.0
    for i in range(len(pred_values)):
        pred_i = pred_values[i]
        true_i = true_values[i]
        mape_mean += abs((pred_i-true_i) / true_i)
    mape_mean /= len(pred_values)
    return mape_mean

def per_20min(dt):
    minute = int(math.floor(dt.minute / 20) * 20)
    second = 0
    dt_new = datetime(dt.year, dt.month, dt.day, dt.hour,minute, 0)
    return dt_new

# 9~19～10.17只有国庆节，因此只考虑国庆节
def remove_holiday(df):
    day_all = df.starting_time.dt.date
    df = df.loc[((day_all < MID_AUTUMN_START) | (day_all > MID_AUTUMN_END))]
    df = df.loc[((day_all < NATIONNAL_START) | (day_all > NATIONNAL_END))]
    return df


def slice_am_pm(df):
    hours = df.starting_time.dt.hour
    df_am = df.loc[(hours < 12)]
    df_pm = df.loc[(hours >= 12)]
    return df_am, df_pm

def slice_time(df):
    hour = df.starting_time.dt.hour  
    df_prev2h = df.loc[(((hour >= 6) & (hour < 8)) | ((hour >= 15) & (hour < 17)))]
    df_follow2h = df.loc[(((hour >= 8) & (hour < 10)) | ((hour >= 17) & (hour < 19)))]
    return df_prev2h, df_follow2h


def select_time(df):
    df['starting_time'] = df.starting_time.apply(
        per_20min)
    if {'vehicle_id','travel_seq'}.issubset(df.columns):
        df = df.drop(['vehicle_id','travel_seq'], axis=1)
    df = df.groupby(['intersection_id', 'tollgate_id', 'starting_time']).mean()
    df = df.reset_index()
    df = df.rename_axis({'travel_time':'avg_travel_time'}, axis='columns')
    hour = df.starting_time.dt.hour
    df = df.loc[((hour >= 6) & (hour < 10)) 
                     | ((hour >= 15) & (hour < 19))]
    return df

#创建6个表,把df数据按inter_toll分成6份放进set_table
def createTable(df): 
    set_table_fun = {}
    for i in range(len(inter_toll)):
        inter, toll = inter_toll[i]
        table_name = 'table_'+str(inter)+'_'+str(toll)
        set_table_fun[str(table_name)] = df.loc[(df.intersection_id == inter) & (df.tollgate_id == toll)]
    return set_table_fun

def getLink_avgTime(ser):  #ser是Series
    str_travel_seq = ser.split(';')
    link_time = []
    for i in range(len(str_travel_seq)):
        link_time.append(str_travel_seq[i].split('#')[-1])
    return link_time

def split_table(tableName, inter, toll, df):
    for i in range(LINK_LENGTH[tableName]):
        #把n列LINK添加到set_table_fun_new末尾
        link_name = 'link_'+str(i)
        
        #预处理数据，把有link路段的时间缺省的数据剔除
        judgeIndex = df.travel_seq.apply(lambda t:True if len(t)==LINK_LENGTH[tableName] else False)
        df = df.loc[judgeIndex]
        
        #分列
        df[str(link_name)] = df.travel_seq.apply(lambda s:float(s[i]))
    return df
        

def select_time_in_link(df):   #link级别的时间处理。最后分6个表来返回
    df['starting_time'] = df.starting_time.apply(
        per_20min)
    if {'vehicle_id','travel_time'}.issubset(df.columns):
        df = df.drop(['vehicle_id','travel_time'], axis=1)
    #set_table = pd.DataFrame(columns = ['table_A_2','table_A_3','table_B_1','table_B_3','table_C_1','table_C_3'])
    set_table_fun = {}
    set_table_fun = createTable(df)   #数据按inter_toll分成6份
    #处理travel_seq,把每个link的时间取出来
    for i in range(len(inter_toll)):
        inter, toll = inter_toll[i]
        tableName = 'table_'+str(inter)+'_'+str(toll)
        set_table_fun[tableName].travel_seq = set_table_fun[tableName].travel_seq.apply(getLink_avgTime)
        hour = set_table_fun[tableName].starting_time.dt.hour
        set_table_fun[tableName] = set_table_fun[tableName].loc[((hour >= 6) & (hour < 10)) |\
                                                                ((hour >= 15) & (hour < 19))]
        
        #暂时只取9.19之后
        d = set_table_fun[tableName].starting_time.dt.date
        set_table_fun[tableName] = set_table_fun[tableName].loc[(d >= TRAIN_START_DAY) &\
                                                                (d <= TRAIN_END_DAY)]
        
        #print(set_table_fun[tableName])
        #把set_table_fun的travel_seq拆分成n列的link
        set_table_fun[tableName] = split_table(tableName, inter, toll, set_table_fun[tableName])
        #去掉travel_seq
        set_table_fun[tableName] = set_table_fun[tableName].drop(['travel_seq'],axis=1)
    return set_table_fun

In [585]:
# 数据预处理，分别是训练集，验证集和测试集
train_df = remove_holiday(train_df)

#先按路径来分组，接着处理travel_seq字符串；然后把travel_seq拆分成n个link列
set_table_dict = select_time_in_link(train_df)

/home/hhg/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2387: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/hhg/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [586]:
print(set_table_dict['table_A_2'])  #每个link的travel_time获取正常

       intersection_id  tollgate_id       starting_time  link_0  link_1  \
59340                A            2 2016-09-19 06:00:00    8.49    4.07
59341                A            2 2016-09-19 06:00:00   10.52    5.25
59342                A            2 2016-09-19 06:00:00   11.15    4.34
59347                A            2 2016-09-19 06:00:00   10.32    6.27
59350                A            2 2016-09-19 06:20:00    9.61    4.10
59352                A            2 2016-09-19 06:20:00    7.76    5.07
59357                A            2 2016-09-19 06:40:00    9.31    3.88
59358                A            2 2016-09-19 06:40:00    7.78    3.92
59359                A            2 2016-09-19 06:40:00    9.09    4.72
59360                A            2 2016-09-19 06:40:00    8.94    5.01
59369                A            2 2016-09-19 06:40:00    7.82    9.58
59371                A            2 2016-09-19 07:00:00    9.85    5.11
59373                A            2 2016-09-19 07:00:00    9.27    5.92
59376                A            2 2016-09-19 07:00:00   12.49    7.35
59377                A            2 2016-09-19 07:00:00   17.68    6.92
59378                A            2 2016-09-19 07:00:00    8.41    6.67
59382                A            2 2016-09-19 07:00:00   11.93    4.77
59383                A            2 2016-09-19 07:00:00   11.91    6.11
59387                A            2 2016-09-19 07:00:00    9.31    4.40
59389                A            2 2016-09-19 07:00:00   10.61    5.17
59391                A            2 2016-09-19 07:00:00   13.24    8.88
59392                A            2 2016-09-19 07:00:00   11.20    7.91
59399                A            2 2016-09-19 07:20:00   16.35    8.85
59403                A            2 2016-09-19 07:20:00    9.63    6.51
59407                A            2 2016-09-19 07:20:00   10.41    5.93
59409                A            2 2016-09-19 07:20:00   11.72   14.50
59410                A            2 2016-09-19 07:20:00   11.88    9.12
59411                A            2 2016-09-19 07:20:00   26.22    2.01
59416                A            2 2016-09-19 07:40:00    7.87    4.62
59417                A            2 2016-09-19 07:40:00    9.79    6.31
...                ...          ...                 ...     ...     ...
108980               A            2 2016-10-17 17:20:00    7.37    3.99
108981               A            2 2016-10-17 17:20:00   18.88    9.32
108987               A            2 2016-10-17 17:20:00    7.67    4.06
108989               A            2 2016-10-17 17:20:00   12.14    6.76
108995               A            2 2016-10-17 17:20:00   71.71    7.73
108996               A            2 2016-10-17 17:20:00   10.13    5.35
108997               A            2 2016-10-17 17:20:00    9.15    5.60
108998               A            2 2016-10-17 17:20:00   11.09    8.31
109001               A            2 2016-10-17 17:20:00   10.77    6.23
109002               A            2 2016-10-17 17:20:00    6.76    3.74
109004               A            2 2016-10-17 17:20:00    4.43    2.40
109008               A            2 2016-10-17 17:20:00   11.77    5.46
109012               A            2 2016-10-17 17:40:00    8.39    9.50
109015               A            2 2016-10-17 17:40:00    9.88    6.03
109023               A            2 2016-10-17 17:40:00    8.75    5.97
109031               A            2 2016-10-17 18:00:00   14.22    9.29
109032               A            2 2016-10-17 18:00:00    9.42    4.83
109033               A            2 2016-10-17 18:00:00   19.22   10.40
109035               A            2 2016-10-17 18:00:00   16.52    8.94
109038               A            2 2016-10-17 18:00:00   13.68    7.41
109044               A            2 2016-10-17 18:00:00   11.20    6.14
109050               A            2 2016-10-17 18:20:00    9.88    5.89
109057               A            2 2016-10-17 18:20:00   11.65    6.28
109062               A            2 2016-10-17 18:20:00   10.79    6.30
109067               A            2 2016-10-17 18:40:00   14.54    6.69
109069               A            2 2016-10-17 18:40:00   10.33    4.63
109077               A            2 2016-10-17 18:40:00   19.94   10.79
109079               A            2 2016-10-17 18:40:00   11.04    5.60
109081               A            2 2016-10-17 18:40:00   10.40    5.27
109082               A            2 2016-10-17 18:40:00   30.47   16.49

        link_2  link_3  link_4  link_5
59340     2.54    3.16    0.54   12.60
59341     6.93    4.95    0.74   20.72
59342     2.73    3.50    0.71   24.65
59347     3.74    4.72    0.86   23.52
59350     5.24   81.33    0.32    9.33
59352     2.66    4.57    0.88   23.64
59357     2.22    3.01    0.47   12.90
59358     2.21    3.03    0.48   12.62
59359     2.73    3.12    0.47   20.43
59360     3.50   19.80    0.18    4.15
59369     1.72    2.02    0.51  178.59
59371     3.04    3.57    0.54   14.51
59373     3.62    6.57    1.33   23.97
59376     6.17    5.61    0.77   17.62
59377     3.83    7.06    1.22   32.45
59378     6.19    7.86    0.86   48.34
59382     2.98    4.34    0.79   20.65
59383     3.52    4.14    0.62   14.08
59387     4.42    5.50    0.88   18.31
59389     3.97    6.39    1.03   18.99
59391     8.14   18.12    2.72   58.68
59392     6.03    4.60    0.62   76.97
59399     5.10    6.00    0.90   33.63
59403     4.59    5.27    0.81   18.29
59407     3.70    4.35    0.65   18.20
59409     8.36   10.43    1.62   42.30
59410     5.71    5.84    1.14   44.37
59411     1.16    1.36    0.94   53.71
59416     3.58    5.32    0.86   22.96
59417     3.46    3.85    0.58   12.60
...        ...     ...     ...     ...
108980    2.28    2.66    0.40    9.06
108981    5.37    6.32    0.95   33.60
108987    2.85    4.54    1.00   22.58
108989    3.89    4.58    0.69   28.49
108995    4.46    5.24    0.79   17.83
108996    3.29    4.08    0.61   31.71
108997   11.32    4.71    0.81   20.37
108998    8.30    7.69    0.86   34.18
109001    6.69    5.72    0.73   50.46
109002    3.21    4.74    0.73   23.00
109004    1.38    1.63    0.24    5.53
109008    3.93    5.66    0.85   36.23
109012    5.27    5.05    0.73   29.22
109015    5.83    8.04    0.81   27.94
109023    3.61    3.70    0.61   20.90
109031    6.38    7.50    1.12   39.75
109032    3.19    4.42    0.86   19.24
109033    6.00    7.05    1.06   29.77
109035    5.15   10.69    1.95   44.09
109038    4.27    5.02    0.75   27.21
109044    4.72    5.78    1.11   22.34
109050    6.43    4.36    0.64   13.87
109057    6.47    6.22    0.97   24.73
109062    5.73    8.16    1.22   15.38
109067    3.84    4.52    0.68   17.50
109069    3.13    6.55    1.43   26.19
109077    6.22    7.32    1.10   24.88
109079    3.28    4.08    0.61   19.85
109081    3.23    5.01    0.65   16.06
109082    9.50   11.18    1.68   38.01

[6057 rows x 9 columns]

In [587]:
def complete_miss_time(df, inter, toll, linkname, df_type='train'):
    start_day = df.starting_time.dt.date.values[0]
    end_day = df.starting_time.dt.date.values[-1]

    if df_type == 'test':
        hour_min = [(6,0), (6,20), (6,40), (7,0), (7,20), (7,40),
              (15,0), (15,20), (15,40), (16,0), (16,20), (16,40)] 
    else:        
        hour_min = [(6,0), (6,20), (6,40), (7,0), (7,20), (7,40),
                (8,0), (8,20), (8,40), (9,0), (9,20), (9,40),
              (15,0), (15,20), (15,40), (16,0), (16,20), (16,40),
              (17,0), (17,20), (17,40), (18,0), (18,20), (18,40)]
    df_comp = pd.DataFrame(columns=['intersection_id', 'tollgate_id',
                                    'starting_time',linkname])
    for d in range((end_day - start_day).days+1):
        day = start_day + timedelta(days=d)
        if ((day < NATIONNAL_START) or (day > NATIONNAL_END)):
            for j in range(len(hour_min)):
                h, m = hour_min[j]
                day_time = datetime(day.year, day.month, day.day, h, m, 0)
                index = (df.starting_time == day_time)
                avg_travel_time = df.loc[index][linkname]
                if (not avg_travel_time.empty):
                    avg = avg_travel_time.values[0]
                else:
                    avg = np.NaN
                row = {'intersection_id': inter, 'tollgate_id': toll,
                       'starting_time': str(day_time), linkname:avg} 
                df_comp = df_comp.append(row, ignore_index=True)
    
    df_comp['tollgate_id'] = df_comp['tollgate_id'].astype(int)
    df_comp.starting_time = pd.to_datetime(df_comp.starting_time)
    df_comp[linkname] = df_comp[linkname].interpolate()   #使用插值补全
    return df_comp

def create_subtable(set_table_dict):
    set_subtable_dic_fun = {}  #set_subtable_dic_fun数据组织形式 {'table_A_2':set_subtable_linktable_dic_fun,
                               #                            'table_A_3':set_subtable_linktable_dic_fun, ...}}
    for i in range(len(inter_toll)):
        inter, toll = inter_toll[i]
        tableName = 'table_'+str(inter)+'_'+str(toll)
        set_subtable_linktable_dic_fun = {} #嵌套在set_subtable_fun中的dic
        for linkOrder in range(LINK_LENGTH[tableName]):
            print('inter = ',inter,'\n','toll=',toll,'\n','linkOrder=',linkOrder,'\n')
            linktable_name = tableName + '_link_' + str(linkOrder)
            set_subtable_linktable_dic_fun[linktable_name] = set_table_dict[tableName].loc[:,\
                                                                                            ['intersection_id',\
                                                                                            'tollgate_id',\
                                                                                            'starting_time',\
                                                                                            'link_'+str(linkOrder)]]
            #groupby子表
            set_subtable_linktable_dic_fun[linktable_name] = set_subtable_linktable_dic_fun\
            [linktable_name].groupby(['intersection_id', 'tollgate_id', 'starting_time']).mean() #取中值可能更好
            set_subtable_linktable_dic_fun[linktable_name] = set_subtable_linktable_dic_fun\
            [linktable_name].reset_index()
            
            #complete_miss_time
            set_subtable_linktable_dic_fun[linktable_name] = \
            complete_miss_time(set_subtable_linktable_dic_fun[linktable_name],\
                               inter, toll, 'link_'+str(linkOrder), df_type = 'train')
            
        set_subtable_dic_fun[tableName] = set_subtable_linktable_dic_fun
    return set_subtable_dic_fun

#每个link和inter, toll, starting_time单独成一个子表，各自groupby后，进行compleme_miss_time，再合并回一个table
def groupbyProcess(set_table_dict):
    #每个link和inter, toll, starting_time单独成一个子表
    set_subtable_dic = create_subtable(set_table_dict) #输出正确

    return set_subtable_dic

In [588]:
#取出相同路段的avgTime，并groupby求平均;然后interpolate
set_table_dict_afterGroupby = groupbyProcess(set_table_dict)

inter =  A
 toll= 2
 linkOrder= 0

inter =  A
 toll= 2
 linkOrder= 1

inter =  A
 toll= 2
 linkOrder= 2

inter =  A
 toll= 2
 linkOrder= 3

inter =  A
 toll= 2
 linkOrder= 4

inter =  A
 toll= 2
 linkOrder= 5

inter =  A
 toll= 3
 linkOrder= 0

inter =  A
 toll= 3
 linkOrder= 1

inter =  A
 toll= 3
 linkOrder= 2

inter =  A
 toll= 3
 linkOrder= 3

inter =  A
 toll= 3
 linkOrder= 4

inter =  A
 toll= 3
 linkOrder= 5

inter =  A
 toll= 3
 linkOrder= 6

inter =  A
 toll= 3
 linkOrder= 7

inter =  B
 toll= 1
 linkOrder= 0

inter =  B
 toll= 1
 linkOrder= 1

inter =  B
 toll= 1
 linkOrder= 2

inter =  B
 toll= 1
 linkOrder= 3

inter =  B
 toll= 1
 linkOrder= 4

inter =  B
 toll= 1
 linkOrder= 5

inter =  B
 toll= 1
 linkOrder= 6

inter =  B
 toll= 1
 linkOrder= 7

inter =  B
 toll= 1
 linkOrder= 8

inter =  B
 toll= 3
 linkOrder= 0

inter =  B
 toll= 3
 linkOrder= 1

inter =  B
 toll= 3
 linkOrder= 2

inter =  B
 toll= 3
 linkOrder= 3

inter =  B
 toll= 3
 linkOrder= 4

inter =  C
 toll= 1
 linkOrder= 0

inter =  C
 toll= 1
 linkOrder= 1

inter =  C
 toll= 1
 linkOrder= 2

inter =  C
 toll= 1
 linkOrder= 3

inter =  C
 toll= 1
 linkOrder= 4

inter =  C
 toll= 1
 linkOrder= 5

inter =  C
 toll= 1
 linkOrder= 6

inter =  C
 toll= 1
 linkOrder= 7

inter =  C
 toll= 1
 linkOrder= 8

inter =  C
 toll= 1
 linkOrder= 9

inter =  C
 toll= 1
 linkOrder= 10

inter =  C
 toll= 1
 linkOrder= 11

inter =  C
 toll= 3
 linkOrder= 0

inter =  C
 toll= 3
 linkOrder= 1

inter =  C
 toll= 3
 linkOrder= 2

inter =  C
 toll= 3
 linkOrder= 3

inter =  C
 toll= 3
 linkOrder= 4

inter =  C
 toll= 3
 linkOrder= 5

inter =  C
 toll= 3
 linkOrder= 6

inter =  C
 toll= 3
 linkOrder= 7

In [589]:
#合并子表
def combineSubtable(set_table_dict_afterGroupby):
    set_table_combine_dict_fun = {}
    for i in range(len(inter_toll)):
        inter, toll = inter_toll[i]
        tableName = 'table_'+str(inter)+'_'+str(toll)
        subtable_name = tableName + '_link_'+str(0)
        set_table_combine_dict_fun[tableName] = set_table_dict_afterGroupby[tableName][subtable_name].copy()
        for linkOrder in range(1,LINK_LENGTH[tableName]):
            linkname = 'link_'+str(linkOrder)
            subtable_name = tableName + '_link_'+str(linkOrder)
            set_table_combine_dict_fun[tableName][linkname] = set_table_dict_afterGroupby[tableName][subtable_name]\
                                                                [linkname] #取列，插到新表的后面
#     print(set_table_combine_dict_fun['table_A_2'])
    return set_table_combine_dict_fun
set_table_combine_dict = combineSubtable(set_table_dict_afterGroupby)

In [593]:
print(set_table_combine_dict['table_B_1'])

    intersection_id  tollgate_id       starting_time     link_0     link_1  \
0                 B            1 2016-09-19 06:00:00  15.740000   5.000000
1                 B            1 2016-09-19 06:20:00  13.850000  21.450000
2                 B            1 2016-09-19 06:40:00  11.960000  37.900000
3                 B            1 2016-09-19 07:00:00   8.315000   5.410000
4                 B            1 2016-09-19 07:20:00  10.656667   6.320000
5                 B            1 2016-09-19 07:40:00   9.395000   7.185000
6                 B            1 2016-09-19 08:00:00  13.170000   6.120000
7                 B            1 2016-09-19 08:20:00  11.167500   5.937500
8                 B            1 2016-09-19 08:40:00   9.165000   5.755000
9                 B            1 2016-09-19 09:00:00  10.792000   7.558000
10                B            1 2016-09-19 09:20:00  10.868500   7.729000
11                B            1 2016-09-19 09:40:00  10.945000   7.900000
12                B            1 2016-09-19 15:00:00  23.391667   7.340000
13                B            1 2016-09-19 15:20:00  12.210000   8.920000
14                B            1 2016-09-19 15:40:00  16.717500   6.605000
15                B            1 2016-09-19 16:00:00   8.380000   5.490000
16                B            1 2016-09-19 16:20:00  12.108750   6.322500
17                B            1 2016-09-19 16:40:00  15.837500   7.155000
18                B            1 2016-09-19 17:00:00  12.610000   7.350000
19                B            1 2016-09-19 17:20:00  14.710000   8.350000
20                B            1 2016-09-19 17:40:00  16.810000   9.350000
21                B            1 2016-09-19 18:00:00  17.510000  11.445000
22                B            1 2016-09-19 18:20:00  18.210000  13.540000
23                B            1 2016-09-19 18:40:00   8.610000   6.370000
24                B            1 2016-09-20 06:00:00  15.980000  11.880000
25                B            1 2016-09-20 06:20:00  13.268750   9.457500
26                B            1 2016-09-20 06:40:00  10.557500   7.035000
27                B            1 2016-09-20 07:00:00  16.890000   6.630000
28                B            1 2016-09-20 07:20:00   6.900000   5.420000
29                B            1 2016-09-20 07:40:00   8.352500   5.610000
..              ...          ...                 ...        ...        ...
450               B            1 2016-10-16 17:00:00   9.195000   6.202500
451               B            1 2016-10-16 17:20:00  12.745000   7.180000
452               B            1 2016-10-16 17:40:00  15.236250   8.473750
453               B            1 2016-10-16 18:00:00  17.727500   9.767500
454               B            1 2016-10-16 18:20:00  15.835625   8.590625
455               B            1 2016-10-16 18:40:00  13.943750   7.413750
456               B            1 2016-10-17 06:00:00  12.051875   6.236875
457               B            1 2016-10-17 06:20:00  10.160000   5.060000
458               B            1 2016-10-17 06:40:00   5.853333   3.846667
459               B            1 2016-10-17 07:00:00   7.780000   5.386667
460               B            1 2016-10-17 07:20:00   8.152500   5.430833
461               B            1 2016-10-17 07:40:00   8.525000   5.475000
462               B            1 2016-10-17 08:00:00  15.795000   5.695000
463               B            1 2016-10-17 08:20:00  11.550000   8.330000
464               B            1 2016-10-17 08:40:00  13.652000   6.370000
465               B            1 2016-10-17 09:00:00   5.570000   4.450000
466               B            1 2016-10-17 09:20:00  11.550000   6.070000
467               B            1 2016-10-17 09:40:00   7.870000   5.915000
468               B            1 2016-10-17 15:00:00  29.170000  21.690000
469               B            1 2016-10-17 15:20:00   9.320000   6.310000
470               B            1 2016-10-17 15:40:00   8.580000   6.740000
471               B            1 2016-10-17 16:00:00  13.278000   6.182000
472               B            1 2016-10-17 16:20:00  15.660000   7.815000
473               B            1 2016-10-17 16:40:00  11.770000   6.260000
474               B            1 2016-10-17 17:00:00   7.880000   4.705000
475               B            1 2016-10-17 17:20:00  10.740000  14.920000
476               B            1 2016-10-17 17:40:00  10.650000  12.223333
477               B            1 2016-10-17 18:00:00  10.560000   9.526667
478               B            1 2016-10-17 18:20:00  10.470000   6.830000
479               B            1 2016-10-17 18:40:00  14.690000  15.680000

        link_2     link_3     link_4     link_5     link_6     link_7  \
0     8.710000   1.630000  11.100000   5.780000   8.950000   1.600000
1     8.905000   1.575000  11.715000   7.585000  11.885000   6.290000
2     9.100000   1.520000  12.330000   9.390000  14.820000  10.980000
3    13.035000   2.090000  14.215000   6.000000  24.325000   0.945000
4    20.623333   3.823333  14.110000   6.246667  15.963333   1.416667
5    19.055000   2.810000  20.135000  12.115000  15.230000   1.855000
6    20.670000   3.200000  18.580000  15.020000  14.690000   1.340000
7    24.870000   2.882500  16.477500  12.100000  29.535000   3.637500
8    29.070000   2.565000  14.375000   9.180000  44.380000   5.935000
9    27.900000   3.252000  17.080000   8.446000  31.126000   1.290000
10   24.266250   3.834750  20.393750   9.239250  22.835500   1.570000
11   20.632500   4.417500  23.707500  10.032500  14.545000   1.850000
12   22.505000   8.495000  19.273333   7.883333  13.601667   1.226667
13   18.620000   3.310000  24.980000  11.660000  16.380000   2.080000
14   26.792500   3.292500  18.645000   8.905000  18.085000   1.655000
15   17.850000   2.360000  15.380000   8.250000  11.400000   1.630000
16   17.158750   2.411250  15.301250  12.465000  10.595000   1.475000
17   16.467500   2.462500  15.222500  16.680000   9.790000   1.320000
18   15.900000   1.945000  15.130000  10.570000  15.180000   1.385000
19   16.355000  15.427500  17.525000  12.395000  15.100000   1.542500
20   16.810000  28.910000  19.920000  14.220000  15.020000   1.700000
21   32.385000  16.575000  51.065000  19.435000  15.890000   1.855000
22   47.960000   4.240000  82.210000  24.650000  16.760000   2.010000
23   39.650000   2.620000  40.390000  19.770000  27.620000   2.910000
24   24.790000   4.710000  36.870000  17.210000  24.170000   3.070000
25   22.342500   3.713750  27.265000  12.386250  17.482500   7.267500
26   19.895000   2.717500  17.660000   7.562500  10.795000  11.465000
27   27.820000   8.480000  25.460000  10.070000  15.950000   2.030000
28   19.560000  10.520000  12.510000   6.860000  13.250000   1.190000
29   21.110000  11.240000  15.142500   9.922500  17.272500   2.265000
..         ...        ...        ...        ...        ...        ...
450  12.030000   1.952500  15.762500   8.985000  10.332500   2.247500
451  36.440000   3.150000  18.755000  18.145000  16.455000   2.365000
452  24.645000   2.781250  19.177500  14.636250  16.061250   7.515000
453  12.850000   2.412500  19.600000  11.127500  15.667500  12.665000
454  11.887500   2.211875  17.687500   9.728125  13.918125   9.773750
455  10.925000   2.011250  15.775000   8.328750  12.168750   6.882500
456   9.962500   1.810625  13.862500   6.929375  10.419375   3.991250
457   9.000000   1.610000  11.950000   5.530000   8.670000   1.100000
458  34.340000  11.653333  16.023333   6.983333  12.733333   3.696667
459  13.813333   2.976667  14.433333   6.830000  10.090000   7.950000
460  29.444167   3.458333  13.884167   9.155000  11.665000   9.785000
461  45.075000   3.940000  13.335000  11.480000  13.240000  11.620000
462  12.465000   3.195000  14.080000   8.225000  37.840000   1.055000
463  14.170000   2.380000  18.100000   7.720000  10.850000   1.380000
464  25.106000   3.470000  23.268000   9.490000  12.740000   1.758000
465   9.280000   1.760000  13.800000   6.440000   9.050000   1.150000
466  15.000000   2.500000  16.030000   8.500000  14.390000   2.110000
467  20.745000   2.515000  16.225000  10.300000  11.435000   1.405000
468  47.980000   2.400000  13.870000   7.110000  11.050000   1.090000
469  20.405000  26.745000  20.010000   7.360000  13.490000   1.820000
470  14.130000   2.590000  15.050000   6.950000   9.770000   1.240000
471  25.386000   3.106000  35.880000   7.216000  14.950000   1.118000
472  19.255000   2.645000  19.447500  11.542500  20.957500   1.662500
473  14.345000   2.262500  16.678750   9.868750  15.793750   1.476250
474   9.435000   1.880000  13.910000   8.195000  10.630000   1.290000
475  26.760000   4.070000  21.740000  10.300000  17.850000   2.270000
476  22.583333   4.183333  19.650000   9.063333  16.446667   2.056667
477  18.406667   4.296667  17.560000   7.826667  15.043333   1.843333
478  14.230000   4.410000  15.470000   6.590000  13.640000   1.630000
479  28.510000   5.060000  23.080000   9.470000  14.030000   1.810000

        link_8
0    40.620000
1    23.890000
2     7.160000
3    11.030000
4    17.166667
5    22.870000
6    30.730000
7    19.070000
8     7.410000
9    17.782000
10   21.211000
11   24.640000
12   20.316667
13   19.980000
14   51.662500
15   23.860000
16   20.553750
17   17.247500
18   16.380000
19   27.225000
20   38.070000
21   31.920000
22   25.770000
23   23.170000
24   29.500000
25   21.686250
26   13.872500
27   18.820000
28   19.920000
29   30.580000
..         ...
450  30.285000
451  37.680000
452  27.926250
453  18.172500
454  19.059375
455  19.946250
456  20.833125
457  21.720000
458  34.356667
459  18.573333
460  21.269167
461  23.965000
462  10.130000
463  40.410000
464  18.194000
465  12.780000
466  31.230000
467  45.415000
468  17.210000
469  32.195000
470  11.920000
471  22.566000
472  36.950000
473  30.502500
474  24.055000
475  21.780000
476  22.676667
477  23.573333
478  24.470000
479  29.190000

[480 rows x 12 columns]